<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="developerObject"  class="com.spring.DependencyInjection.Developer">
		<constructor-arg value="100" type="int"></constructor-arg>
		<constructor-arg value="John Doe" type="String"></constructor-arg>
	</bean>
</beans>