<div class="ui-g">
    <div class="ui-g-3">
        <p-card header="Dashboard">
            All the dashboard content goes here.
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card header="Account">
            All the accounts information goes here.
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card header="Transaction history">
            All the transaction history goes here.
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card header="User">
            All the user information goes here.
        </p-card>
    </div>
</div>