<h1>Angular components</h1>

<h4>=> Star component</h4>
<app-star></app-star>

<h4>=> For component</h4>
<app-ngfor></app-ngfor>

<h4>=> Pipes component</h4>
<app-pipes></app-pipes>

<h4>=> Interaction component</h4>
<h6>=> Message: {{message}}</h6>

<app-interaction [employee]="employee" (empMessage)="message = $event"></app-interaction>

<h4>=> Employee list component with service</h4>
<app-emplist></app-emplist>

<h4>=> Employee details component with service</h4>
<app-empdetails></app-empdetails>