<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
    <bean id="heart" class="com.banirudh.human.spring.autowired.xml.Heart"></bean>
    
    <!-- autowire="byName" -->
    <!-- <bean id="human" class="com.banirudh.human.spring.autowired.xml.Human" autowire="byName"></bean> -->
    
    <!-- autowire="byType" -->
    <!-- <bean id="human" class="com.banirudh.human.spring.autowired.xml.Human" autowire="byType"></bean> -->
    
    <!-- autowire="constructor" -->
    <bean id="human" class="com.banirudh.human.spring.autowired.xml.Human" autowire="constructor"></bean>
	
	
</beans>