<div class="interaction-component">
    <ul class="list-group">
        <li class="list-group-item"><strong>Employee details: </strong></li>
        <li class="list-group-item"><strong>Id :</strong>{{emp.id}}</li>
        <li class="list-group-item"><strong>First name: </strong>{{emp.firstName}}</li>
        <li class="list-group-item"><strong>Last name: </strong>{{emp.lastName}}</li>
    </ul>
    <br />
    <button type="button" class="btn btn-primary" (click)="sendMessage()">Send message</button>
</div>